BOOKMYSHOW_URL=https://in.bookmyshow.com/movies/warangal/toxic-a-fairy-tale-for-grown-ups/buytickets/ET00379307/20260826?etCodes=ET00379307&language=telugu&refEventCode=ET00379307
CHECK_INTERVAL_MINUTES=10
BROWSER_HEADLESS=false
NTFY_SERVER=https://ntfy.sh
NTFY_TOPIC=replace-with-your-long-random-topic